*~
*.pch
*.elc

# for trial my emacs environment
ac-comphist.dat
elisps/
elpa/
history
straight/
network-security.data
places
projectile-bookmarks.eld
projects
recentf
*.bak

# local CA certificates for gnutls-trustfiles (machine specific, never commit)
certs/
